body {
  margin-top: 0px;
  color: #1a202c;
  text-align: left;
  background-color: #f3f2ef;
}

p {
  color: black;
  margin-top: 0px;
  font-size: small;
  line-height: 0%;
}

.komentar {
  color: black;
  font-size: medium;
  margin-top: 7px;
  line-height: 1.5em;
}

.inner-wrapper {
  position: relative;
  height: calc(100vh - 3.5rem);
  transition: transform 0.3s;
}
@media (min-width: 992px) {
  .sticky-navbar .inner-wrapper {
    height: calc(100vh - 3.5rem - 48px);
  }
}

.inner-main,
.inner-sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  /* display: flex; */
  flex-direction: column;
}
.inner-sidebar {
  margin-top: 20px;
  left: 0;
  width: 235px;
  height: 150px;
  /* border-right: 1px solid #cbd5e0; */
  background-color: #f3f2ef;
  z-index: 1;
}
.inner-main {
  right: 0;
  left: 235px;
}
.inner-main-footer,
.inner-main-header,
.inner-sidebar-footer,
.inner-sidebar-header {
  height: 3.5rem;
  border-bottom: 1px solid #cbd5e0;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  flex-shrink: 0;
}
.inner-main-body,
.inner-sidebar-body {
  padding: 1rem;
  overflow-y: auto;
  position: relative;
  flex: 1 1 auto;
}
.inner-main-body .sticky-top,
.inner-sidebar-body .sticky-top {
  z-index: 999;
}
.inner-main-footer,
.inner-main-header {
  background-color: #fff;
}
.inner-main-footer,
.inner-sidebar-footer {
  border-top: 1px solid #cbd5e0;
  border-bottom: 0;
  height: auto;
  min-height: 3.5rem;
}
@media (max-width: 767.98px) {
  .inner-sidebar {
    left: -235px;
  }
  .inner-main {
    left: 0;
  }
  .inner-expand .main-body {
    overflow: hidden;
  }
  .inner-expand .inner-wrapper {
    transform: translate3d(235px, 0, 0);
  }
}

.nav .show > .nav-link.nav-link-faded,
.nav-link.nav-link-faded.active,
.nav-link.nav-link-faded:active,
.nav-pills .nav-link.nav-link-faded.active,
.navbar-nav .show > .nav-link.nav-link-faded {
  color: #3367b5;
  background-color: #c9d8f0;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #467bcb;
}
.nav-link.has-icon {
  display: flex;
  align-items: center;
}
.nav-link.active {
  color: #467bcb;
}
.nav-pills .nav-link {
  border-radius: 0.25rem;
}
.nav-link {
  color: #4a5568;
}
.card {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.qty .count {
  color: #000;
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  padding-bottom: 2px;
  min-width: 30px;
  text-align: center;
}
.qty .plus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  width: 25px;
  height: 25px;
  font: 25px/1 Arial, sans-serif;
  text-align: center;
  border-radius: 50%;
}
.qty .minus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  width: 25px;
  height: 25px;
  font: 25px/1 Arial, sans-serif;
  text-align: center;
  border-radius: 50%;
  background-clip: padding-box;
}

.minus:hover {
  background-color: #717fe0 !important;
}
.plus:hover {
  background-color: #717fe0 !important;
}
/*Prevent text selection*/
.qty .span {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
input {
  border: 0;
  width: 2%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:disabled {
  background-color: white;
}
