<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-4" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error - <%= error %></title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/bootstrap.css" />
    <link rel="stylesheet" href="/assets/vendors/bootstrap-icons/bootstrap-icons.css" />
    <link rel="stylesheet" href="/assets/css/app.css" />
    <link rel="stylesheet" href="/assets/css/pages/error.css" />
    <link rel="icon" type="image/x-icon" href="/asset/img/favicon.png">
  </head>

  <body>
    <div id="error">
      <div class="error-page container">
        <div class="col-md-8 col-12 offset-md-2">
          <img class="img-error" src="/assets/images/500.png" alt="Not Found" />
          <div class="text-center">
            <h1 class="error-title">UNAND-NYA DISERANG NAGA</h1>
            <p class="fs-5 text-gray-600">KITA LULUS!!!</p>
            <a href="/" class="btn btn-lg btn-outline-primary mt-3">Balik ke awal lagi yuk!</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>