<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap CSS -->
    <link rel="icon" type="image/x-icon" href="/asset/img/favicon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <a href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.6.16/sweetalert2.min.css"></a>
    <link rel="stylesheet" href="/asset/css/style1.css" />
   
    <title>Hello, Rangers!</title>
  </head>

  <body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
      <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#"><img src="asset/img/ramerionlogo.png" alt="" width="14%" /> </a>
      </div>

      <div class="col-md-2 ms-auto" style="color: #29c6cd">
        <div class="btn-group">
          <% if (nama != "user") { %>
          <button type="button" style="background-color: transparent; color: #29c6cd; border: #29c6cd" class="btn btn-light">Selamat Datang, <%= nama %> !</button>
          <button type="button" style="background-color: transparent; color: #29c6cd; border: transparent" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <form action="/auth/logout" method="post">
              <button style ="border: white; background-color: white;" type="submit">Sign out</button>
              </form>
            </li>
          </ul>
          <% } else { %>
          <!-- <button type="button" style="background-color: transparent; color: #29c6cd; border: #29c6cd" class="btn btn-light">Silahkan Login</button>
          <button type="button" style="background-color: transparent; color: #29c6cd; border: transparent" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/auth/login">Login</a></li>
          </ul> -->
          <a style="background-color: transparent; color: #29c6cd; border: #29c6cd" class="dropdown-item" href="/auth/login">Silahkan Login</a>
          <% } %>
        </div>
      </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead">
      <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
          <div class="col-lg-8 align-self-end">
            <h1 class="text-white font-weight-bold">Inovasi untuk Rangers.</h1>
            <hr class="divider" />
          </div>
          <div class="col-lg-8 align-self-baseline">
            <p class="text-white-75 mb-5">Rangers - Marketplace - Discussion</p>
            <a class="btn btn-primary btn-xl" href="#services">Get Started</a>
          </div>
        </div>
      </div>
    </header>

    <!-- Services -->
    <section class="page-section" id="services">
      <div class="container px-4 px-lg-5 justify-content-center">
        <h2 class="text-center mt-0">We've Got 3 Features!</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="mt-5">
              <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
              <h3 class="h4 mb-2">Forum</h3>
              <p class="text-muted mb-0">Fitur untuk berdiskusi, sekaligus memamerkan kreativitas.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="mt-5">
              <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
              <h3 class="h4 mb-2">Blog</h3>
              <p class="text-muted mb-0">Fitur untuk saling membantu, melalui tulisan yang dimuat.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="mt-5">
              <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
              <h3 class="h4 mb-2">Marketplace</h3>
              <p class="text-muted mb-0">Membantu menemukan serta memperluas pasar usaha mahasiswa.</p>
            </div>
          </div>
          <div class="container mt-5 px-4 px-lg-5 text-center">
            <% if (nama != "user") { %>
            <a class="btn btn-secondary btn-xl" href="/forum">Lihat Selengkapnya!</a>
            <% } else { %>
            <a class="btn btn-secondary btn-xl" onclick="success()">Lihat Selengkapnya!</a>
            <% } %>
          </div>
        </div>
      </div>
    </section>
    

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.6.16/sweetalert2.all.min.js"></script>
    <script src="./asset/js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script>
      function success() {
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: 'Anda Belum login!',
          footer: '<a href="/auth/login">Silahkan login disini</a>'
        })
      }
    </script>
  </body>
</html>
