<div id="sidebar" class="active">
    <div class="sidebar-wrapper active">
        <div class="sidebar-header position-relative">
            <div class="d-flex justify-content-between align-items-center">
                <div class="logo">
                    <a href="/kelola"><img src="/asset/img/ramerionlogo.png" alt="Logo" srcset=""></a>
                </div>
                <div class="sidebar-toggler  x">
                    <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                </div>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul class="menu">
                <li class="sidebar-title">Menu</li>
                
                
                <li
                    class="sidebar-item active  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-stack"></i>
                        <span>Forum</span>
                    </a>
                    <ul class="submenu active">
                        <li class="submenu-item active">
                            <a href="#">Sub Item</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="#">Sub Item</a>
                        </li>

                    </ul>
                </li>
                
                <li
                    class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-collection-fill"></i>
                        <span>Blog</span>
                    </a>
                    <ul class="submenu ">
                        <li class="submenu-item ">
                            <a href="#">Sub Item</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="#">Sub Item</a>
                        </li>
                    </ul>
                </li>
                
                <li
                    class="sidebar-item has-sub">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-grid-1x2-fill"></i>
                        <span>E Commerce</span>
                    </a>
                    <ul class="submenu">
                        <li class="submenu-item ">
                            <a href="#">Sub Item</a>
                        </li>
                        <li class="submenu-item">
                            <a href="#">Sub Item</a>
                        </li>
                    </ul>
                </li>

                
                <li
                    class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-hexagon-fill"></i>
                        <span>User</span>
                    </a>
                    <ul class="submenu ">
                        <li class="submenu-item ">
                            <a href="#">Sub Item</a>
                        </li>
                        </li>
                    </ul>
                </li>
                
            </ul>
        </div>
    </div>
</div>