<div id="sidebar" class="active">
    <div class="sidebar-wrapper active">
<div class="sidebar-header">
<div class="d-flex justify-content-between">
    <div class="logo">
    <a href="/"><img src="assets/images/logo/Group.png" alt="Logo" width:100% height:50px></a>
        
    </div>
    <div class="toggler">
        <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
    </div>
</div>
</div>
<div class="sidebar-menu">
<ul class="menu">
    
    <% if (role=="D"||role=="T") { %>
        <li class="sidebar-title">Menu</li>    
        <li class="sidebar-item <%= dasbordaktif %>">
            <a href="/" class='sidebar-link'>
                <i class="bi bi-grid-fill"></i>
                <span>Dashboard</span>
            </a>
        </li> 
    <% } %>


  
    <li
        class="sidebar-item <%= rpsaktif %> ">
        <!--linknya pakai if else, tergantung role -->
        <a href="<% if (role=="T") { %>
            /admin/rps
           <% } else if (role=="D") { %>
           /dosen/rps
           <% } else {%>
           /mahasiswa/rps
           <% } %> " class='sidebar-link'>
            <i class="bi bi-file-earmark-medical-fill"></i>
            <span>RPS</span>
        </a>
    </li>
   
</ul>
</div>
<button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
</div>
</div>