<%- include('../partials/header'); -%>

          <!-- Inner main -->
          <div class="inner-main">
            <!-- Inner main header -->

            <div class="inner-main-body p-2 p-sm-3 collapse forum-content show">
             
              <!-- Form Tampil Postingan -->
              <div class="card mb-2">
                <div class="card-body p-2 p-sm-3">
                  <div class="media forum-item">
                   <div class="row">
                    <div class="col-md-2 mb-2 mt-4" >
                      <img class="img-fluid"src="asset/img/sepatu (2).jpg" width="100%" alt="..." />
                    </div>
                    <div class="col-xl-4  mt-4" style="margin-left:10px" >
                      <h6>Sepatu Adidas</h6>
                      <span>Sepatu Olahraga Original</span>
                      <div class="col-md-4 mt-2">
                        <div class="input-group md-4 mb-3">
                          <span class="input-group-text" id="basic-addon1">Qty</span>
                          <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2 mt-4">
                      <span>Rp 2,149,000</span>
                    </div>
                    
                    <div class="col-md-2">
                      <h5>Summary</h5>
                      <span><strong>Subtotal</strong></span> </br>
                      <span>Rp 2,149,000</span> </br>
                      <span><strong>Pajak (10%)</strong></span> </br>
                      <span>Rp 214,900</span> 
                    <hr>
                    <span><strong>Total</strong></span> </br>
                    <span>Rp 3,449,000</span>
                  <hr>
                  <div class="d-grid gap-2">
                   <button class="btn btn-dark rounded-pill" type="button"><a style="color: white; text-decoration:none;" href="/ecommerce/detailPembayaran">Checkout</a></button>
                  </div>
                  </div>
                   </div>
                   <div class="row">
                    <div class="col-md-2 mb-2 mt-2" >
                      <img class="img-fluid"src="asset/img/sepatu (2).jpg" width="100%" alt="..." />
                    </div>
                    <div class="col-xl-4  mt-2" style="margin-left:10px" >
                      <h6>Sepatu Adidas</h6>
                      <span>Sepatu Olahraga Original</span>
                      <div class="col-md-4 mt-2">
                        <div class="input-group md-4 mb-3">
                          <span class="input-group-text" id="basic-addon1">Qty</span>
                          <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2 mt-2">
                      <span>Rp 2,149,000</span>
                    </div>
                    
  
                   </div>
                  </div>
              </div>
              
              <!-- Akhir Form Tampil Postingan -->


            <!-- /Inner main body -->
          </div>
          <!-- /Inner main -->
        </div>
      </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

   
  </body>
</html>
