<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ramerion - <%= judul %> </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/asset/css/style4.css" />
    <link rel="stylesheet" href="/asset/css/style.css" />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a href="/ecommerce" class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-dark text-decoration-none" id="dropdownNavLink" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="/asset/img/ramerionlogo.png" alt="" width="34%" class="d-inline-block align-text-top" />
        </a>
        <button class="btn btn-outline-success" type="submit" disabled>Seller Center</button>
      </div>
    </nav>
    <!-- End Of Navbar  -->