
<%- include('../partials/header'); -%>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2 mb-4 mb-4">
                        <img src="asset/img/sepatu (2).jpg" width="100%" alt="..." />
                      </div>
                      <div class="col-md-4 ">
                        <span><strong> Sepatu Olahraga Original</span> </strong></br>
                        <span>Qty  : 3</span>
                        <span>Size : 45</span>
                      </div>
                </div> 
            </div>
          </div>
        </div>
      </div>
     
      <div class="row justify-content-center text-center">
        <div class="col-md-6 mt-3">
            <span>Total Bayar</span>
            <h3 class="display-4">Rp. 2,500,091</h3>
        </div>
      </div>

      <div class="row justify-content-center text-center">
        <div class="col-md-6 mt-3">
            <div class="alert alert-danger" role="alert">
                Patikan nominal sesuai sampai dengan 3 digit terakhir!
              </div>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-md-3 mt-5">
            <div class="card">
                <div class="card-body">
                    <div class="row justify-content-center text-center">
                        <div class="col-md-8 mb-4">
                            <img src="asset/img/bca.png" width="100%" alt="..." />
                        </div>
                    <div class="row">
                        <span><strong>PT. Ramerion.id</strong></span>
                        <span>0001001012</span>
                    </div>
                    </div> 
                </div>
              </div>

        </div>
        <div class="col-md-3 mt-5">
            <div class="card">
                <div class="card-body">
                    <div class="row justify-content-center text-center">
                        <div class="col-md-8 mb-4" >
                            <img src="asset/img/Bank_Mandiri_logo_2016.svg.png" width="100%" alt="..." />
                          </div>
                    </div> 
                    <div class="row">
                        <span><strong>PT. Ramerion.id</strong></span>
                        <span>00020209884</span>
                    </div>
                </div>
              </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3 mt-5">
                <div class="card">
                    <div class="card-body">
                        <div class="row justify-content-center text-center">
                            <div class="col-md-8 mb-4" >
                                <img src="asset/img/featured.png" width="110%" alt="..." />
                              </div>
                        </div> 
                        <div class="row">
                            <span><strong>e-wallet</strong></span>
                            <span>0822286541161</span>
                        </div>
                    </div>
                  </div>
    
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 mt-5">
                <p class="komentar">Segera upload bukti pembayaran kamu agar orderan dapat segera diproses oleh Admin.
                </br> Catatan: Dengan melakukan pembayaran menggunakan metode manual, pengguna setuju untuk membayar total biaya berlangganan ditambah dengan kode unik.</p>
                <div class="d-grid gap-2">
                    <a href="/ecommerce/upload_bukti" style="background-color: #29c6cd; border: #29c6cd;" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Upload Bukti Pembayaran</a>
                </div>
            </div>
        </div>    
      </div>
    </div>

    <footer class="text-center text-white" style="background-color: #f1f1f1;">
        <!-- Grid container -->
        <div class="container pt-4"></div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2022 Copyright : Ramerion.id
        </div>
        <!-- Copyright -->
      </footer>

      
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>
