<%- include('../partials/header'); -%>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 mb-3">
          <div class="card">
            <div class="card-header">Detail Pemesanan</div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <span><strong>boby darmawan</strong></span></br>
                <p class="komentar">+62886541161 </br> bobydarmawan@gmail.com </p> 
              </blockquote>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2 mb-4 mb-4">
                        <img src="asset/img/sepatu (2).jpg" width="100%" alt="..." />
                      </div>
                      <div class="col-md-6 ">
                        <span><strong> Sepatu Olahraga Original</span> </strong></br>
                        <span>Qty  : 3</span>
                        <span>Size : 45</span>
                      </div>
                </div> 
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-md-6 mt-3">
            <span>Total Bayar</span>
            <h3 class="display-4">Rp. 2,500,000</h3>
        </div>
      </div>
       <div class="row justify-content-center text-center">
        <div class="col-md-6 mt-5 mb-5">
            <div class="card">
                <div class="card-header">Metode Pembayaran</div>
                <div class="card-body">
                    <img clas="img-fluid"src="../temp/asset/img/bayar.png" width="50%"alt="">
                    <div class="d-grid gap-2">
                        <a href="/ecommerce/bayar" style="background-color: #29c6cd; border: #29c6cd;" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Bayar</a>
                      </div>
                </div>
              </div>
        </div>
      </div>
    </div>

    <footer class="text-center text-white" style="background-color: #f1f1f1;">    
        <!-- Copyright -->
        <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2022 Copyright : Ramerion.id
        </div>
        <!-- Copyright -->
      </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


    -->
  </body>
</html>
