<nav id="sidebar">
    <div class="p-4 pt-5">
      <h5><a href="/marketplace/jualProduk">Penjualan</a></h5>
      <ul class="list-unstyled components mb-5">
        <li>
          <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Barang</a>
          <ul class="collapse list-unstyled" id="pageSubmenu1">
            <li>
              <a href="/marketplace/daftarBarang"><span class="fa mr-2"></span> Daftar Barang</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Transaksi</a>
          <ul class="collapse list-unstyled" id="pageSubmenu2">
            <li>
              <a href="/marketplace/pesananPelanggan"><span class="fa mr-2"></span> Pesanan Pelanggan</a>
            </li>
            <li>
              <a href="/marketplace/barangTerjual"><span class="fa mr-2"></span> Barang Terjual</a>
            </li>
            <li>
              <a href="/marketplace/riwayat"><span class="fa mr-2"></span> Riwayat</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="mb-5">
        <form action="#" class="subscribe-form">
          <div class="form-group d-flex">
            <div class="icon"><span class="icon-paper-plane"></span></div>
            <a href="/marketplace"><button class="btn btn-primary" type="button">Kembali Ke Home</button></a>
          </div>
        </form>
      </div>
    </div>
  </nav>